.kot
{
	position: relative;
	display: flex;
	left: 10%;
}

#jsonLoad
{
	position: relative;
	float: left;
	margin-top: 50px;
}

.svgClass
{
	animation: svgRun 10s infinite linear;
}

@keyframes svgRun
{
	0%{}
	50% {transform: translate(850px,0) rotate(360deg);}
	100%{transform: translate(0%,0);}
}

p.blink {
	text-decoration: underline;
	font-size: 23px;
}
p.text{
	font-size: 20px;
	padding-right: 120px;
}